
body,html{
    padding: 0px;
    margin:0px;
    width:100%;
    overflow-x: hidden;
}



#desk-textlogo,.desk-nav,.desk-contato{
    display: none;
}

/*CONFIGURAÇÕES DA LOGO*/
.desk-menumob{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width:15%;
    padding: 10px;
}
#menu{
    font-size: 30px;
    color: white;
}




/*CONFIGURAÇÕES DO MENU*/
.fundo-menu{
    display: flex;
    position: absolute;      
    justify-content: center;
    flex-wrap: wrap;
    height: 800px;
    width: 100%;
    transform: translateX(5000px);
    background-color: #002257d7;
    padding: 20px;
    z-index: 4;
    margin-left: -20px;  
    overflow: auto;     
    transition: 1s  ;
}
.ativar-menumob{
    transform: translateX(0px);
}




#section-inicialmenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 80%;
    height: 5%;
    padding: 10px;
    font-size: 28px;
    color: white;
}

#icon-fecharmenu{
    color: white;
}


/*ROLAGEM DO MENU*/





/*DIVISÃO MENU*/
#section-menumob{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
    z-index: 4;
    height: 50%;
    margin-top: 90px;
    border-bottom: 2px solid #175ED4;
}

#mob-dadosnav{
    width: 100%;
    margin-top:0px ;
    background-color: #175ED4;
    font-size: 21px;
    padding: 10px;
    color: white;
    border-bottom: 2px solid #175ED4;
}
#mob-dadosnav:hover{
    background-color: #002257d7;
}

#btn-mobmenu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 5%;
    background-color: #175ED4;
    margin-top: -120px;
    color: white;
    font-size: 21px;
    padding: 10px;
}

#btn-mobmenu:hover{
    background-color: #002257d7;
}

/*DIVISÃO MENU 2*/





