.sistem-blocdois{
    display: none;
}


/*SEÇÃO-UM*/
.sect-um{
    display: flex;
    flex-wrap: wrap;
    height: 1360px;
}
/*seção-um - lado um*/
.sect-blocum{
    width: 100%;
    height: 60%;
}



/*lista da seção-um*/
.list-blocum{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    margin: 0;
    margin-top: 20px;
    padding: 0;
}
/*titulo seção-um*/
#titulo-blocum{
    margin: 0;
    text-align: center;
}



/*fundo dos icones seçao-um*/
.sect-blocdois{
    margin-top: -0px;
}



/*fundo dos textos seçao-um*/
.sect-bloctres{
    text-align: justify;
    font-size: 20px;
    padding: 11px;
    height: 30%;
}



/*seção-um - lado dois*/
.sectdois-bloc{
    display: flex;
    align-items: start;
    justify-content: center;
    margin: 0;
    margin-top: -40px;
    padding: 0;
    width: 100%;
}



/*fundo segundo carrossel*/
.fundo-blocdois{
    transform: scale(0.9);
}



/*fundo configuração do carrossel*/
.fundo-blocdoissistema{

    padding-top: -0px;

    margin: 0;
    margin-top: -260px;
    z-index: 4;
}


/*seção-dois*/
.sect-dois{
    background-color: white;
    width: 100%;
    height: 1300px;
}


/*seção-dois - lado decoração*/
.back-sectdois{
    display: flex;
    height: 100%;

}
.decor-tipoum{
    margin-top: 60px;
}
.decor-tipodois{
    margin-top: 550px;
}
#decorumpequeno,#decorummedio, #decorumgrande{
    height: 9px;
}
#decorumpequenoescuro,#decorummedioescuro,#decorumgrandeescuro{
    height: 9px;
}



/*seção-dois - lado texto/formulario */
.espaço-sectdois{
    display: flex;
    margin: 0;

    height: 100%;
    width: 100%;
    z-index: 2;
}

/*seção-dois - lado texto */
.fundo-textespaçodois{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25%;
    margin-top: -0px;
    margin: 0;
    z-index: 4;

}
#titulo-espaçodois{
    font-size: 23px;
    font-weight:bolder;
    font-weight: normal;
}



/*seção-dois - lado formulario */
.fundo-formulariosectdois{
    width: 100%;
    margin-top: 210px;
    padding:10px ;

}
#back-form{
    width: 100%;
    height: 80%;
}
.fundo-tituloformulario{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: -30px;

}
#text-textformulario{
    font-size: 18px;
    text-align: center;
    margin-top: -20px;
}

/*CONFIGURAÇÃO DOS INPUT*/
#input-nome{
    margin-top: -30px;
    width: 100%;
}
#input-nome::placeholder{
    color: white;
    font-size: 17px;
}

#input-email{
    width: 100%;
}
#input-email::placeholder{
    color: white;
    font-size: 17px;
}

#input-number{
    width: 100%;
}
#input-number::placeholder{
    color: white;
    font-size: 17px;
}

#input-serviços{
    width: 100%;
}
#input-serviço::placeholder{
    color: white;
    font-size: 17px;
}


#input-pessoas{
    width: 100%;
}
#input-pessoas::placeholder{
    color: white;
    font-size: 17px;
}


#input-entrada{
    width: 100%;
    font-size:20px;
    background-color: #175ED4;
    color: white;
    border: 0px;
    border-bottom: 2px solid white;
    padding:10px;
}
#input-entrada::placeholder{
    color: white;
}


#input-saida{
    width: 100%;
    font-size:20px;
    background-color: #175ED4;
    color: white;
    border: 0px;
    border-bottom: 2px solid white;
    padding:10px;
}
#input-saida::placeholder{
    color: white;
}


#btn-enviarcadastro{
    width: 80%;
    font-size:20px;
    background-color: #175ED4;
    color: white;
    border: 2px solid white;
    padding:10px;
}

.sect-tres{
    display: flex;
    width: 100%;
    height: 1450px;
    padding: 10px;
}
#secttres-titulo{
    font-size: 22px;

}
/*Configuração de rolagem do bloco de comentarios*/
.post-comentario{
    display: flex;
    width: 95%;
    height:600px;
    padding: 0;
    margin-left: -20px;
}
/*Configuração do bloco de comentarios*/
#bloco-comentario{
    display: flex;
    width: 100%;
    height: 500px;
}
/*Bloco comentarios- parte um*/
#bloco-partum{
    justify-content: space-evenly;
}



#bloco-partres{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 100%;
    height:40%;
    overflow-x: scroll;
}
#img-sitio{
    height:160px;
    width: 130px;
}
/*Configuração do bloco de inserir comentario*/
.add-comentario{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    margin-left: -20px;
    z-index: 4;
    padding: 20px;

}
/*inserir comentario - titulo comentario*/
#titulo-comentario{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
}

.img-adicionarcomentario{
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 40%;
}

#texto-comentario{
    margin-top: 60px;
}
#adicionarimg-comentario{
    height:50%;
    width: 40%;
}

#btn-enviarcomentario{
    width: 80%;
    margin-top: -80px;
    padding: 10px;
}



.sect-quatro{
    display: flex;
    justify-content: left;
    align-items:normal;
}

.back-localicar{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 10px;
    margin-top: 80px;
}

#local-endereço{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

#local-telefone{
    width: 100%;
    display: flex;
    justify-content: left;
    padding: 10px;
}
#dados-listlocal{
    width: 100%;
    display: flex;
    justify-content: center;
    padding:10px;
    height: 70%;
    margin-top: -0px;
}

.back-map{
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100%;
    margin: 0;
    position: relative;
}
iframe{
    display: flex;
    justify-content: center;
    height: 70%;
    width: 90%;
    margin-top: -80px;
}


.bloco-lugares{
    height: 1500px;
}